.App {
  text-align: center;
}
ul {
  list-style: none;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5 rem;
}
.delete {
  color: red;
  cursor: pointer;
  margin-left: 5px;
}
input:checked + span {
  text-decoration: line-through;
}
